/* Mixin */
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width + 30px}) {
    @content;
  }
}

@mixin mobile-large {
  @media (min-width: #{$mobile-width + 31px}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width +2px}) {
    @content;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  overflow: hidden;

  .button-group {
    align-self: flex-end;
    margin-top: 10px;

  }

  .select-style {
    width: 150px;
    text-align: left;
    margin-right: 10px;
    margin-top: 10px;

    @include mobile-large() {
      width: 100px;
    }

    @include mobile() {
      width: 100px;
    }
  }

  .button-style {
    margin-top: 10px;
    width: 150px;
    text-align: left;
    margin-right: 10px;

    @include mobile-large() {
      width: 100px;
    }

    @include mobile() {
      width: 100px;
    }
  }

  .mt-10 {
    margin-top: 10px;
  }

  .glass-morphine {
    display: inline-block;
    background: rgba(255, 255, 255, .2);
    padding: 2em;
    border-radius: 5px;
    position: relative;
    z-index: -99;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, .03);
  }
}